body {
  font-family: 'TT Norms';
  color: $text-black;
}

.container {
  width: 90%;
}

// .wrapper {
//   position:fixed;
//   width:100%;
//   height: 100%;
//   overflow:auto;
// }
  
// body {
//   overflow: hidden;
// }


