@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TT Norms/TTNorms-Regular.ttf") format("ttf"),
    url("../fonts/TT Norms/TTNorms-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TT Norms/TTNorms-Medium.ttf") format("ttf"),
    url("../fonts/TT Norms/TTNorms-Medium.woff") format("woff");
  font-weight: 500;
}
