.content {
  @include phones {
    border: none;
  }
  &__title {
    // max-width: 1578px;
    overflow: hidden;
    // width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $border-gray;

    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 12px;
      height: 100%;
      width: 70px;
      background: linear-gradient(270.17deg, #FFFFFF 9.25%, rgba(255, 255, 255, 0) 188.53%);
      border-right: .0625rem solid #efefef;
    }

    @include phones {
      display: none;
    }
  }
  &__meals-info {
    padding-top: 60px;
    border-right: 1px solid $border-gray;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @include phones {
      margin-top: 60px;
      justify-content: center;
    }
  }
  &__container {
    max-width: 90%;
  }
}