.info-list {
  display: flex;

  &__item {
    margin-right: 56px;
    
    &:not(:last-child) {
      @include phones {
        margin-right: 32px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__subtext {
    font-size: 14px;
    opacity: .5;
  }

  &__text {
    font-size: 18px;
    @include phones {
      font-size: 15px;
    }
  }
}