.main {
  display: flex;
  @include phones {
    flex-direction: column;
  }

  &__section {
    width: 83%;
    @include phones {
      width: 100%;
    }
  }

  &__aside {
    width: 17%;
    @include phones {
      width: 100%;
      border-top: 1px solid #efefef;
    }
  }
}