.modal {
  position: fixed;
  bottom: 0;
  // top: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  // transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, bottom 0.25s;

  &.is-active {
    opacity: 1;
    visibility: visible;
    bottom: 0;
    // transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, bottom 0.25s;
    & .modal__content {
      bottom: 0;
    }
  }

  &__text-title {
    opacity: .4;
    font-size: 21px;
    margin-bottom: 16px;
    @include phones-small {
      font-size: 17px;
    }
  }
  
  &__content {
    position: absolute;
    left: 0;
    right: -17px;
    bottom: -400px;
    transition: bottom .35s;

    max-height: 90vh;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 5px;
    
    display: flex;   


    @include phones {
      right: 0;
      min-height: 100vh;
      // max-height: 100vh;
      // height: 100vh;
      // overflow: hidden;
      flex-direction: column;
      border-radius: 0;
    }
    
  }

  &__img {
    transform: translateY(10%);
    opacity: 0;
    transition: transform .5s, opacity .25s;
    &.is-active {
      transform: translateY(0);
      opacity: 1;
    }

    @include phones {
      max-width: 85%;
    }
  }

  &__left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    
    @include phones {
      height: 40vh;
      flex: none;
    }

    @include phones-small {
      height: auto;
    }
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;

    @include phones-small {
      right: 15px;
      top: 15px;
    }
  }

  &__right {
    position: relative;
    background-color: #E8EAED;

    @include phones {
      position: static;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__descr-outer {
    min-width: 470px;
    padding: 116px 76px;

    @include phones {
      padding: 30px 16px;
      min-width: auto;
    }

    @include phones {
      padding: 20px 16px;
    }
  }

  &__descr {
    max-width: 280px;
    flex: 1;

    @include phones {
      max-width: auto;
      max-width: none;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    transform: translateY(20%);
    opacity: 0;
    transition: transform .5s, opacity .25s;
    &.is-active {
      transform: translateY(0);
      opacity: 1;
    }

    @include phones {
      margin-bottom: 26px;
    }

    @include phones-small {
      margin-bottom: 14px;
      font-size: 21px;
    }
  }

  &__value-title {
    transform: translateY(20%);
    opacity: 0;
    transition: transform .5s, opacity .25s;
    &.is-active {
      transform: translateY(0);
      opacity: .4;
    }
  }

  &__title-gr {
    opacity: .4;
  }

  &__text-block {
    font-size: 15px;
    margin-bottom: 40px;
    
    transform: translateY(20%);
    opacity: 0;
    transition: transform .5s, opacity .25s;
    &.is-active {
      transform: translateY(0);
      opacity: 1;
    }

    @include phones {
      margin-bottom: 26px;
    }

    @include phones-small {
      margin-bottom: 14px;
    }
  }

  &__close-icon {
    width: 30px;
    height: 30px;
    stroke: $text-black;
  }

  &__add-block {
    display: flex;
    color: #fff;
    width: 100%;
    background-color: $bc-red;
    position: relative;
    height: 172px;

    opacity: 0;
    transform: translateY(20%);
    transition: opacity .35s, transform .35s;

    &.is-active {
      opacity: 1;
      transform: translateY(0);
    }

    @include phones {
      max-height: 50px;
      min-height: 50px;
    }
  }

  &__add-left {
    background-color: #B81111;
    padding: 30px 0;
    display: flex;
    width: 20%;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(20%);
    opacity: 0;
    transition: transform .5s, opacity .25s;
    &.is-active {
      transform: translateY(0);
      opacity: 1;
    }

    @include phones {
      width: 50%;
      padding: 0;
    }
  }

  &__add-right {
    margin-left: 20%;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    @include phones {
      width: 50%;
      margin-left: 50%;
    }
  }

  &__price {
    padding-right: 40px;
    border-right: 1px solid rgba(#fff, .4);
    @include phones {
      display: none;
    }
  }

  &__add-text {
    padding-left: 40px;

    @include phones {
      padding-left: 0;
    }

    &--phones {
      display: none;
      @include phones {
        display: block;
      }
    }

    &--desktop {
      @include phones {
        display: none;
      }
    }
  }
}