.num-row {
  font-weight: 600;
  &--modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include phones {
      flex-direction: row;
      align-items: center;
    }
  }

  &__minus {
    margin-right: 15px;

    &--modal {
      margin-right: 0;
      color: #fff;
      @include phones {
        margin-right: 36px;
      }
    }
  }

  &__num {
    margin-right: 15px;
    color: $bc-red;
    font-size: 12px;

    &--modal {
      margin-right: 0;
      color: #fff;
      @include phones {
        margin-right: 36px;
      }
    }
  }

  &__plus {
    color: $bc-logo;

    &--modal {
      color: #fff;
    }
  }
}