.num-row {

  &--modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__minus {
    margin-right: 15px;

    &--modal {
      margin-right: 0;
      // margin-bottom: auto;
      color: #fff;
    }
  }

  &__num {
    margin-right: 15px;
    color: $bc-red;

    &--modal {
      margin-right: 0;
      // margin-bottom: auto;
      color: #fff;
    }
  }

  &__plus {
    color: $bc-logo;

    &--modal {
      color: #fff;
    }
  }
}