.order {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include phones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;

    @include phones {
      margin-right: 5px;
    }
  }

  &__preview {
    @include phones {
      display: none;
    }
  }

  &__num {
    display: none;
    @include phones {
      display: block;
      font-size: 13px;
      color: $bc-red;
      font-weight: 600;
    }
  }
}