.preview {
  min-height: 580px;
  background-image: url(../images/bg/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  @include phones {
    background-image: url(../images/bg/main_phones.jpg);
  }

  &__info {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
}