.tag-list {
  display: flex;
  position: relative;
  min-width: 1415px;
  
  @include phones {
    flex-direction: column;
  }

  &__wrapper {
    width: fit-content;
    padding: 34px 0;
    position: relative;

    @include phones {
      padding: 16px 0;
    }
  }

  &__item {
    margin-right: 30px;

    &:last-of-type {
      padding-right: 70px;
    }

    @include phones {
      margin-right: 0;
    }
    &.is-active {
      & .tag-list__wrapper:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 29px;
        background-color: $bc-red;

        @include phones {
          display: none;
        }
      }
      
      & .tag-list__link {
        color: $bc-red;
        opacity: 1;
        & .tag-list__num {
          opacity: 1;
        }
      }
    }
  }

  &__link {
    display: flex;
    transition: color .1s;
    // width: auto;
    &:hover {
      color: $bc-red;
      opacity: 1;
      & .tag-list__num {
        opacity: 1;
      }
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
  }

  &__num {
    font-size: 9px;
    opacity: .3;
    transition: opacity .1s;
  }
}