.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2e2e2e;
  padding: 25px 0;

  &__text {
    font-size: 18px;
    font-weight: 600;
    margin-right: 5px;
  }

  &__gr {
    font-size: 18px;
    font-weight: 600;
    color: rgba($text-black, .35);
  }

  &__price {
    font-size: 16px;
    font-weight: 600;
  }
}