.value-list {
  display: flex;

  &__item {
    margin-right: 40px;
    
    opacity: 0;
    transform: translateY(20%);
    transition: opacity .35s, transform .35s;
    &.is-active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__num {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  &__text {
    font-size: 12px;
    opacity: .4;
  }
}